In [2]:
import numpy as np
from pyspark import SparkContext 
from pyspark.sql import SparkSession
import matplotlib.pyplot as plt
import matplotlib.ticker as tick

In [3]:
spark = SparkSession.builder \
    .appName("Python Spark regression example") \
    .config("spark.some.config.option", "some-value") \
    .getOrCreate()

In [4]:
# sc = SparkContext.getOrCreate()
df = spark.read.load("./titanic.csv", format="csv", inferSchema="true")

df.first()

Row(_c0='PassengerId', _c1='Survived', _c2='Pclass', _c3='Name', _c4='Sex', _c5='Age', _c6='SibSp', _c7='Parch', _c8='Ticket', _c9='Fare', _c10='Cabin', _c11='Embarked')

In [5]:
df.count()

892

In [6]:
df.take(15)

[Row(_c0='PassengerId', _c1='Survived', _c2='Pclass', _c3='Name', _c4='Sex', _c5='Age', _c6='SibSp', _c7='Parch', _c8='Ticket', _c9='Fare', _c10='Cabin', _c11='Embarked'),
 Row(_c0='1', _c1='0', _c2='3', _c3='Braund, Mr. Owen Harris', _c4='male', _c5='22', _c6='1', _c7='0', _c8='A/5 21171', _c9='7.25', _c10=None, _c11='S'),
 Row(_c0='2', _c1='1', _c2='1', _c3='Cumings, Mrs. John Bradley (Florence Briggs Thayer)', _c4='female', _c5='38', _c6='1', _c7='0', _c8='PC 17599', _c9='71.2833', _c10='C85', _c11='C'),
 Row(_c0='3', _c1='1', _c2='3', _c3='Heikkinen, Miss. Laina', _c4='female', _c5='26', _c6='0', _c7='0', _c8='STON/O2. 3101282', _c9='7.925', _c10=None, _c11='S'),
 Row(_c0='4', _c1='1', _c2='1', _c3='Futrelle, Mrs. Jacques Heath (Lily May Peel)', _c4='female', _c5='35', _c6='1', _c7='0', _c8='113803', _c9='53.1', _c10='C123', _c11='S'),
 Row(_c0='5', _c1='0', _c2='3', _c3='Allen, Mr. William Henry', _c4='male', _c5='35', _c6='0', _c7='0', _c8='373450', _c9='8.05', _c10=None, _c11='S'),
 Row(_c0='6', _c1='0', _c2='3', _c3='Moran, Mr. James', _c4='male', _c5=None, _c6='0', _c7='0', _c8='330877', _c9='8.4583', _c10=None, _c11='Q'),
 Row(_c0='7', _c1='0', _c2='1', _c3='McCarthy, Mr. Timothy J', _c4='male', _c5='54', _c6='0', _c7='0', _c8='17463', _c9='51.8625', _c10='E46', _c11='S'),
 Row(_c0='8', _c1='0', _c2='3', _c3='Palsson, Master. Gosta Leonard', _c4='male', _c5='2', _c6='3', _c7='1', _c8='349909', _c9='21.075', _c10=None, _c11='S'),
 Row(_c0='9', _c1='1', _c2='3', _c3='Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)', _c4='female', _c5='27', _c6='0', _c7='2', _c8='347742', _c9='11.1333', _c10=None, _c11='S'),
 Row(_c0='10', _c1='1', _c2='2', _c3='Nasser, Mrs. Nicholas (Adele Achem)', _c4='female', _c5='14', _c6='1', _c7='0', _c8='237736', _c9='30.0708', _c10=None, _c11='C'),
 Row(_c0='11', _c1='1', _c2='3', _c3='Sandstrom, Miss. Marguerite Rut', _c4='female', _c5='4', _c6='1', _c7='1', _c8='PP 9549', _c9='16.7', _c10='G6', _c11='S'),
 Row(_c0='12', _c1='1', _c2='1', _c3='Bonnell, Miss. Elizabeth', _c4='female', _c5='58', _c6='0', _c7='0', _c8='113783', _c9='26.55', _c10='C103', _c11='S'),
 Row(_c0='13', _c1='0', _c2='3', _c3='Saundercock, Mr. William Henry', _c4='male', _c5='20', _c6='0', _c7='0', _c8='A/5. 2151', _c9='8.05', _c10=None, _c11='S'),
 Row(_c0='14', _c1='0', _c2='3', _c3='Andersson, Mr. Anders Johan', _c4='male', _c5='39', _c6='1', _c7='5', _c8='347082', _c9='31.275', _c10=None, _c11='S')]

In [9]:
type(df)

pyspark.sql.dataframe.DataFrame

In [32]:
len(df.collect())

892

In [12]:
df.describe().show()

+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+
|summary|              _c0|                _c1|               _c2|                 _c3| _c4|               _c5|               _c6|                _c7|               _c8|              _c9|_c10|_c11|
+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+
|  count|              892|                892|               892|                 892| 892|               715|               892|                892|               892|              892| 205| 890|
|   mean|            446.0| 0.3838383838383838| 2.308641975308642|                null|null| 29.69911764705882|0.5230078563411896|0.38159371492704824|260318.54916792738| 32.2042079685746|null|null|
| stddev|257.3538420152301|0.48659245426485753|0.8360712409770491|                null|null|14.526497332334035|1.1027434322934315| 0.8060572211299488|471609.26868834975|49.69342859718089|null|null|
|    min|                1|                  0|                 1|"Andersson, Mr. A...| Sex|              0.42|                 0|                  0|            110152|                0| A10|   C|
|    max|      PassengerId|           Survived|            Pclass|van Melkebeke, Mr...|male|               Age|             SibSp|              Parch|         WE/P 5735|             Fare|   T|   S|
+-------+-----------------+-------------------+------------------+--------------------+----+------------------+------------------+-------------------+------------------+-----------------+----+----+

In [17]:
# Shape of Dataframe
print(df.count(), len(df.columns))

892 12

VARIABLE DESCRIPTIONS:
survival        Survival
                (0 = No; 1 = Yes)
pclass          Passenger Class
                (1 = 1st; 2 = 2nd; 3 = 3rd)
name            Name
sex             Sex
age             Age
sibsp           Number of Siblings/Spouses Aboard
parch           Number of Parents/Children Aboard
ticket          Ticket Number
fare            Passenger Fare
cabin           Cabin
embarked        Port of Embarkation
                (C = Cherbourg; Q = Queenstown; S = Southampton)

## Plot how many passengers were children, youth, or middle age and old?

In [66]:
def hist(pyspark_df):
#     binSides, binCounts = pyspark_df
    
    N = len(binCounts)
    ind = np.arrange(N)
    width = 1
    
    fix, ax = plt.subplots()
    rect = ax.bar(ind+0.5, binCounts, width, color='b')
    
    ax.set_ylabel('Frequencies')
    ax.set_title('Histogram')
    ax.set_xticks(np.arange(N+1))
#     ax.set_xticklabels(binSides)
    ax.xaxis.set_major_formatter(mtick.FormatStrFormatter('%.2e'))
    
    plt.show()

In [59]:
hist(df)

ValueError: too many values to unpack (expected 2)

In [31]:
max_age

Row(max(_c5)='Age')